{% load static %}
<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'Starwars/styles.css' %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Log In</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <h1>Star Wars</h1>

  <form action="selection.html">
    <table>
      <tr>
        <td><label for="username">User Name : </label></td>
        <td><input class="blank" type="text" id="username" value="" name="username" placeholder="enter the username">
        </td>
      </tr>
      <tr>
        <td><label for="password">Password : </label></td>
        <td><input class="blank" type="password" id="password" value="" name="password"
            placeholder="enter the password"></td>
      </tr>
      <tr>
        <td colspan="2"><input class="button" type="submit" value="Submit"></td>
      </tr>
    </table>


  </form>

  <script src="" async defer></script>
</body>

</html>