{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>End Screen</title>
  <link rel="stylesheet" href="{% static '/Starwars/styles.css' %}">
</head>

<body>
  <div id="end-screen">
    <!-- Check if player 1 won and display appropriate message -->
    <h1>{% if battle.won == '1' %}Player 1 Wins!{% elif battle.won == '2' %}Player 2 Wins!{% endif %}</h1>
    <div id="battle-details">
      <h2>Battle Details:</h2>
      <!-- Use player1_character and player1_starship for Player 1 -->
      <p><b>{{ battle.player1_character.name }}</b> in <b>{{ battle.player1_starship.name }}</b>
        <!-- Use player2_character and player2_starship for Player 2 -->
        vs. <b>{{ battle.player2_character.name }}</b> in <b>{{ battle.player2_starship.name }}</b></p>
    </div>
  </div>
  <a href="{% url 'gameplay' %}">Play Again</a>
  </div>
</body>

</html>
