{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'Starwars/styles.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STAR WARS BATTLE</title>
</head>

<body>
  <div class="main">
    <div>
      <h1>STAR WARS BATTLE</h1>
      <button class="button">Play as a guest</button>
      <button class="button">Existing user</button>
      <button class="button">New user</button>
    </div>
  </div>
</body>

</html>