{% load static %}
<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>player2</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'Starwars/styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

	<h2>Player2 : </h2>
	<form class="myform" action="/battle" method="post">
		<label for="episode">Episode : </label>
		<select name="episode" id="episode">
      <option value="episode1">episode 1 -3</option>
      <option value="episode2">episode 4-7</option>
      <option value="episode3">episode 7-9</option>
		</select>
		<br><br>
		<label for="charcter">Characters : </label>
		<select name="charcter" id="charcter">
		
      <option value="char1">char1</option>
			<option value="char2">char2</option>
			<option value="char3">char3</option>

		</select>
		<br><br>
		<label for="weapon">Weapon : </label>
		<select name="weapon" id="weapon">
			<option value="weapon1">weapon1</option>
			<option value="weapon2">weapon2</option>
			<option value="weapon3">weapon3</option>

		</select>
		<br><br>
		<input type="submit" value="submit" />
	</form>


	<script>
		// Wrap your code in a function
		function validateCredentials() {
			document.getElementById("myform").addEventListener("submit", function (event) {
				event.preventDefault();

				const form = document.getElementById("myform");


				form.setAttribute("action", "/battle");
				form.submit(); // Submit the form

			});
		}

		// Call the function after the document has fully loaded
		document.addEventListener("DOMContentLoaded", function () {
			validateCredentials();
		});
	</script>

	<!-- <script src="myproject/Starwars/templates/validation.js" async defer></script> -->


</body>

</html>