<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="">
</head>

<body>
	<h2>Select your preferences : </h2>
	<form action="">
		<label for="episode">Episode : </label>
		<select name="episode" id="episode">
			<option value="episode1">episode1</option>
			<option value="episode2">episode2</option>
			<option value="episode3">episode3</option>

		</select>
		<br><br>
		<label for="charcter">Characters : </label>
		<select name="charcter" id="charcter">
			<option value="char1">char1</option>
			<option value="char2">char2</option>
			<option value="char3">char3</option>

		</select>
		<br><br>
		<label for="weapon">Weapon : </label>
		<select name="weapon" id="weapon">
			<option value="weapon1">weapon1</option>
			<option value="weapon2">weapon2</option>
			<option value="weapon3">weapon3</option>

		</select>
		<br><br>
		<input type="submit" onclick="handleSelection()" value="submit" />
	</form>

	<script src="script.js" async defer></script>
</body>

</html>