{% load static %}
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>login</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'Starwars/styles.css' %}">

</head>

<body>
	<form id="myform" method="post">

		<input class="button" type="submit" value="start">

	</form>

	<!-- <script src="myproject/Starwars/templates/validation.js" async defer></script> -->

	<script>
		// Wrap your code in a function
		function validateCredentials() {
			document.getElementById("myform").addEventListener("submit", function (event) {
				event.preventDefault();

				const form = document.getElementById("myform");


				form.setAttribute("action", "/player1");
				form.submit(); // Submit the form

			});
		}

		// Call the function after the document has fully loaded
		document.addEventListener("DOMContentLoaded", function () {
			validateCredentials();
		});
	</script>






</body>

</html>